<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fourier usage in compression demo</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.6.1/d3.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link rel="stylesheet" href="../static/css/style.css">
</head>
<!-- <button id="btn">crop</button> -->

<body>


    <div class="page-container">
        <!-- Rest of the page -->
        <div class="mid-section">
            <!-- Left section -->
            <div id="left-section" class="left-section">
                <!-- upper left img -->
                <div class="section-container">
                    <form id="upload-image1-form" method="post" enctype="multipart/form-data">
                        <label for="image_input1" class="import-btn">
                            <i></i> Upload image
                        </label>
                        <input id="image_input1" type="file" name="Image_File1" accept="image/jpeg, image/png, image/jpg"></input>
                        <div id="display_image1"></div>
                    </form>
                </div>
                <!-- lower left img -->
                <div class="section-container">
                    <form id="upload-image2-form" method="post" enctype="multipart/form-data">
                        <label for="image_input2" class="import-btn">
                            <i class="fa fa-cloud-upload"></i> Upload image
                        </label>
                        <input id="image_input2" class="" type="file" name="Image_File2" accept="image/jpeg, image/png, image/jpg"></input>
                        <div id="display_image2"></div>
                    </form>
                </div>
            </div>

            <!-- Middle section -->
            <div class="middle-section">
                <div class="section-container">
                    <p class="title">Crop magnitude</p>
                    <!-- magnitude canvas -->
                    <div>
                        <canvas id="magCanvas" width="300" height="300" style="border:1px solid #000000;">
                        </canvas>
                    </div>
                    <div class="button-array">
                        <button id="rect1">rectangle</button>
                        <button id="ellipse1">ellipse</button>
                        <button id="del1">delete</button>
                        <!-- <img src="../static/assets/nature1.jpg" class="infographic" id="mid-figure1" alt=""> -->
                    </div>
                </div>
                <div class="section-container">
                    <!-- phase canvas -->
                    <p class="title">Crop phase</p>
            
                    <div>
                        <canvas id="phaseCanvas" width="300" height="300" style="border:1px solid #000000;">
                        </canvas>
                    </div>
                    <div class="button-array">
                        <button id="rect2">rectangle</button> <br>
                        <button id="ellipse2">ellipse</button> <br>
                        <button id="del2">delete</button> <br>
                        <!-- <img src="../static/assets/nature1.jpg" class="infographic" id="mid-figure1" alt=""> -->
                    </div>
                    <!-- <img src="../static/assets/nature1.jpg" class="infographic" id="mid-figure2" alt=""> -->
                </div>
            </div>
            <!-- Right section of the website -->
            <div id="right-section" class="right-section">
                <div class="section-container">
                    <p class="title">Output</p>
                    <img src="../static/assets/nature1.jpg" class="infographic" id="img_recon" alt="">
                    <br>
                    <button>reconstruct</button>
                </div>
                <div class="section-container">
                    <p class="title">
                        Made by SBME 2024 team
                    </p>
                    <p class="title" style="text-align: left;">
                        <br>
                        - Ahmed Mohamed Elsarta <br>
                        - Maha Medhat <br>
                        - Mohamed Ahmed Ismail<br>
                        - Yousef Kadry
                    </p>
                </div>
            </div>
            
            
            </div>
            </div>

    <!-- <button onclick="update_element()">update</button> -->

    <!-- <script>
        const update_element = () => {
            console.log("hello")
            // create a new timestamp 
            let imgURL = "../static/assets/nature1.jpg"
            let timestamp = new Date().getTime(); 
            let canvas = document.getElementById("canvas"); 
            let queryString = "?t=" + timestamp;    
            canvas.style.backgroundImage = "url(" + imgURL + queryString + ")" ;    
        }
    </script> -->
    <script src="../static/js/script.js"></script>
    <script src="../static/js/Ismail.js"></script>
</body>
</html>